[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
dixtionary = "python -m dixtionary"

[dev-packages]
pytest = "*"
python-language-server = {extras = ["all"],version = "*"}
mypy = "*"
flake8 = "*"

[packages]
sanic = "*"
sanic-envconfig = "*"
aiostream = "*"
graphene = "*"
itsdangerous = "*"
sanic-cors = "*"
aioredis = "*"
aiodataloader = "*"
graphql-ws = "*"
rx = "<3.0"
sanic-graphql = "*"
loguru = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
